.home_container{
  width:100%;
  height:600px;
  background-color: #B4CDCD;
}
.home_map{
  height:100%;
  width:70%;
  float:right;
}
.home_side_bar{
  display:inline-block;
  margin: 5px;
}
#gmap{
  height:95%;
  width:70%;
  float:right;
  margin: 10px;
}

.styledButton{
  background: rgb;
}